.card-marquee {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    overflow: hidden;
    background: transparent;
}

.marquee {
    display: flex;
    width: fit-content;
    position: relative;
}

.marquee h1 {
    white-space: nowrap;
    font-size: 16vw;
    font-weight: 600;
    margin-right: 30px;
    color: #000;
    text-transform: uppercase;
}